<div class="card shadow mb-4">
  <div class="card-header py-3">
    <h6 class="m-0 font-weight-bold text-primary">DataTables Example</h6>
  </div>
  <div class="card-body">
    <div class="table-responsive">
      <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
        <thead>
          <tr>
            <th>Image du profil</th>
            <th>first name</th>
            <th>lastname</th>
            <th>role</th>
            <th>email</th>
            <th>Action</th>
          </tr>
        </thead>
        <tfoot>
          <tr>
            <th>Image du profil</th>
            <th>first name</th>
            <th>lastname</th>
            <th>role</th>
            <th>email</th>
            <th>action</th>
          </tr>
        </tfoot>
        <tbody>
          <tr  *ngFor="let i of liste">
            <td><img class="img-profile rounded-circle" src="http://localhost:3000/uploads/{{ i.imgUrl }}"></td>
            <td>{{ i.firstName }}</td>
            <td>{{ i.lastName }}</td>
            <td>{{ i.role }}</td>
            <td>{{ i.email }}</td>

            <td><button class="btn btn-success" data-toggle="modal" data-target="#exampleModal"  (click)="sendmodal(i._id)">edit</button></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>


<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Update {{ one.firstName }} Profile</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body theme">
        <div class="container">
          <div class="main">
            <div class="col-md-6 col-sm-12">
              <div class="login-form">
                <form [formGroup]="editform">

                  <div class="form-group">
                    <div class="form-label-group">
                      <input formControlName="firstName" type="text" id="inputfirstName" class="form-control"
                        placeholder="firstName" required="required" autofocus="autofocus"
                        [ngClass]="{'is-invalid': editform.controls['firstName']?.errors?.required && ( editform.controls['firstName']?.dirty || editform.controls['firstName']?.touched)}">
                      <label for="inputfirstName">firstName :</label>
                      <div class="invalid-feedback"
                        *ngIf="editform.controls['firstName']?.errors?.required && ( editform.controls['firstName']?.dirty ||  editform.controls['firstName']?.touched)">
                        firstName is required
                      </div>
                    </div>
                  </div>

                  <div class="form-group">
                    <div class="form-label-group">
                      <input formControlName="lastName" type="text" id="inputlastName" class="form-control" placeholder="lastName"
                        required="required" autofocus="autofocus"
                        [ngClass]="{'is-invalid': editform.controls['lastName']?.errors?.required && ( editform.controls['lastName']?.dirty || editform.controls['lastName']?.touched)}">
                      <label for="inputlastName">lastName :</label>
                      <div class="invalid-feedback"
                        *ngIf="editform.controls['lastName']?.errors?.required && ( editform.controls['lastName']?.dirty ||  editform.controls['lastName']?.touched)">
                        lastName is required
                      </div>
                    </div>
                  </div>

                  <div class="form-group">
                    <div class="form-label-group">
                      <input formControlName="role" type="text" id="inputrole" class="form-control" placeholder="role : admin or user or resto"
                        required="required" autofocus="autofocus"
                        [ngClass]="{'is-invalid': editform.controls['role']?.errors?.required && ( editform.controls['role']?.dirty || editform.controls['role']?.touched)}">
                      <label for="inputrole">role :</label>
                      <div class="invalid-feedback"
                        *ngIf="editform.controls['role']?.errors?.required && ( editform.controls['role']?.dirty ||  editform.controls['role']?.touched)">
                        role is required
                      </div>
                    </div>
                    </div>



                  <div class="form-group">
                    <div class="form-label-group">
                      <input (change)="imgselected($event)" type="file" id="inputimgUrl" class="filestyle" data-buttonText="Select a File" autofocus="autofocus">
                      <label for="inputlastName">Image</label>
                    </div>
                  </div>

                  <div class="form-group">
                    <div class="form-label-group">
                      <input formControlName="email" type="email" id="inputEmail" class="form-control" placeholder="Email address"
                        required="required" autofocus="autofocus"
                        [ngClass]="{'is-invalid': editform.controls['email']?.errors?.required && ( editform.controls['email']?.dirty || editform.controls['email']?.touched)}">
                      <label for="inputEmail">Email</label>
                      <div class="invalid-feedback"
                        *ngIf="editform.controls['email']?.errors?.required && ( editform.controls['email']?.dirty ||  editform.controls['email']?.touched)">
                        email is required
                      </div>
                    </div>
                  </div>

                  <div class="form-group">
                    <div class="form-label-group">
                      <input formControlName="password" type="password" id="inputPassword" class="form-control"

                        placeholder="Password">
                      <label for="inputPassword">Password</label>

                    </div>
                  </div>

                </form>
              </div>
            </div>
          </div>
        </div>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal" [disabled]="!editform.valid" (click)="edit(one._id)">edit</button>
      </div>
    </div>
  </div>
</div>
